@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components{
  .input {
    @apply bg-gray-100 border-2 border-gray-300 p-2 focus:outline-none rounded-lg text-black;
  }

  .error {
    @apply text-xs text-red-500;
  }
}